body{
  background: #000;
}
h1,h2,h3,h4,h5,h6,p,a{
  color: #FFF;
  font-family: Impact, fantasy;
  text-shadow: 0.3rem 0rem 0.5rem #000;
  /* text-overflow: clip; */
  max-width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover,p:hover,a:hover{
  color: #FFF;
  font-family: Impact, fantasy;
  text-shadow: 0rem 0rem 1rem #000;
} */

svg{
  width: 3rem;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  fill:#FFF
}
button{
  border-radius: 1rem ;
  margin-left: 0rem;
  margin-right: 0rem;
  background-color: rgba(0,0,0,0);
  border: solid #FFF;
  height: 3rem;
  width:  4.5rem;  
  box-shadow: 0rem 0rem 0.5rem #fff;
}
button:hover{
  box-shadow: 0rem 0rem 2rem #fff;
}
input:focus, button:focus{
  outline-style: none;
}

input[type="range"]{
  -webkit-appearance: none;
  background: #d3d3d3;
  border-radius: 3rem;
  box-shadow: 0rem 0rem 0.5rem #fff;   
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: #334;
  border: solid #FFF ;
  border-radius: 3rem;
}
input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0rem 0rem 2rem #fff;
}
/* input[type="range"]:hover {
  box-shadow: 0rem 0rem 2rem #fff;
} */

input[type="range"]::-moz-range-progress{
  background: #334;
}

#Voltar{
  margin-left: 0.5rem;
}

#Player{
  margin-top: 2rem;
  height: 21.5rem;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  background: #334;
  border-radius: 2rem ;
  box-shadow: 0rem 0rem 2rem #fff;
  /* border: solid #00F; */
}
/* #Player:hover{
  box-shadow: 0rem 0rem 3rem #fff;
} */

#Player-top{
  height: 15rem;
  width: 20rem;
  margin-top: 2rem;
  /* background:; */
  /* border: solid #0FF; */
}
#Capa{
  height: 14rem;
  width: 16rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* border: solid #0F0; */
  box-shadow: 0rem 0rem 0.5rem #fff;
  float: left;
  border-radius: 1.2rem;
  background: #667;
}
/* #Capa:hover{
  box-shadow: 0rem 0rem 2rem #fff;
} */
#Div_NomeMusica{
  height: 3rem;
  width: 14rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  /* border: solid #FaF; */
  border-radius: 3rem;
}
#NomeMusica{
  font-size: 2.3rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
  margin-right: auto;
  /* box-shadow: 0rem 0rem 0.5rem #FFF; */
}
#Div_NomeArtista{
  height: 2rem;
  width: 14rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  /* border: solid #FaF; */
  border-radius: 3rem;
}
#NomeArtista{
  font-size: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 1rem;
}

#NomeAlbum{
  font-size: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 1rem;
}
#Div_NomeAlbum{
  height: 2rem;
  width: 14rem;
  margin-bottom: 2rem;
  margin-top: 0.1rem;
  margin-left: auto;
  margin-right: auto;
  /* background: #000; */
  /* border: solid #FaF; */
  border-radius: 3rem;
}

#div-Volume{
  height: 14rem;
  width: 2rem;
  margin-top: 0rem;
  /* border: solid #FF0; */
  float: right;
}

#Player-donw{
  height: 5rem;
  width: 20rem;
  /* border: solid #F00; */
}
#botoes{

  height: 3rem;
  width: 20rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /* border: solid #F0F; */
}

#Div-time{
  margin-top: 1.5rem;
  height: 1rem;
  width: 20rem;
  /* border: solid #FFF; */
}

#Volume{  
  transform-origin: 7rem 7rem;
  transform: rotate(-90deg);
  width: 13rem;
  height: 1rem;    
}
#Time{
  width: 16rem;
  height: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
   

